<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.\V10;Database=PRITRT10;User Id=sa;Password=#sapwd1234;" />
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true"> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>

<!--connectionString="Server=.\V10;Database=PRITRT10;User Id=sa;Password=#sapwd1234;"-->
<!--<add name="ConnectionString" connectionString="Server=192.168.10.12\V10;Database=PRITRT10;User Id=sa;Password=#sapwd1234;" providerName="System.Data.SqlClient" />-->