<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.\CIAS;Database=PRITRT10;User Id=sa;Password=#sapwd1234;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true"> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true" />
	</runtime>
</configuration>

<!-- alterar a ligaçao SQL para a transtar. -->
<!--connectionString="Server=.\CIAS;Database=PRITRT10;User Id=sa;Password=#sapwd1234;"-->